# URL del API del Backend Spring Boot
# Durante desarrollo (local)
REACT_APP_API_URL=http://localhost:8080/api

# Para producción, actualiza la URL al servidor real
# REACT_APP_API_URL=https://api.muua.udea.edu.co/api
